# KiCad
*-backups/
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
~*.lck
\#auto_saved_files\#
_autosave-*
*.tmp
*.dsn
*.ses
*.kicad_sch-bak
*.kicad_prl
*-cache.lib
fp-info-cache

# Gerber
*.drl
*.gbl
*.gbo
*.gbp
*.gbr
*.gbs
*.gm1
*.gtl
*.gto
*.gtp
*.gts

# FreeCAD
*.FCStd[0-9]*
